<header>
  <nav class="navigation-wrap bg-light start-header start-style" role="navigation" aria-label="main navigation">
    <div class="navbar-brand justify-center">
      <%= link_to root_path, class: 'navbar-brand mr-0' do %>
        <%= image_tag 'logo', alt: 'メンタルDJ' %>
      <% end %>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
</header>